/* Contacto */ 
.container__flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form{
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 2em 1.5em;
    margin: auto;
    background-color: $filtros__boton;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__input{
    font-size: 1rem;
    padding: 0.8em 1em;
}

.form__input--texto{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.btn__sumbit{
    border: none;
    font-size: 1rem;
    padding: .7em 0;
    cursor: pointer;
    border-radius: .2em;
}

.section__mapa{
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 2em 1.5em;
    background-color: $filtros__boton;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        margin: 10px auto;
        text-align: center;
    }
    iframe{
        padding: 0px 10px;
    }
}

@include medias (992px){
    .section__mapa{
        height: 56vh;
        padding-bottom: 10px;
        justify-content: space-around;
    }

    iframe{
        width: 100%;
        height: 100%;
    }
}

@include medias (1100px){
    .container__flex{
        flex-direction: row;
        margin-bottom: 200px;
    }

    .form{
        width: 50%;
    }

    .section__mapa{
        width: 50%;    
    }
}


