/*Empieza aside + ofertas + recomendados */

.aside__style {
    width: 85%;
    font-size: 1.2rem;
    margin: 10px auto;
    background-image: url(../imagenes/aside_img.jpeg);
    background-size: cover;
    background-position: center;
    height: 35vh;
    border-radius: 5px;

    p {
        text-align: center;
        font-weight: $text__bold;
        font-size: 1.2rem;
        text-shadow: 0px -7px 10px rgba(0, 0, 0, 0.83);
        color: $text__white;
        text-shadow: -3px 2px 1px rgb(0 0 0 / 46%);
        font-family: 'Roboto Condensed', sans-serif;
    }
}

h2,
h3 {
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    width: 100%;
    margin: auto;
    text-shadow: -9px 4px 10px rgba(255, 247, 247, 0.83);
}

.section__ofertas {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.ofertas__card--size {
    width: 40%;
    margin: 5px;
}

.text__bold {
    font-weight: $text__bold;
}

.text__secondary {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.ofertas__card--contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 2px;
}

.ofertas__card--bg {
    background: $card__ofertas--color;
}

.reco__h5 {
    background-color: $bg__productos;
    font-size: 1.3rem;
    padding: 3px;
    border-radius: 4px;
    font-weight: $text__bold;
}

.reco__contenedor {
    width: 70%;
    margin: 10px auto;
    border-radius: 35px 35px 35px 0px;
    -webkit-border-radius: 35px 35px 35px 0px;
    -moz-border-radius: 35px 35px 35px 0px;
    border: 8px outset #007e8c;

    img {
        padding: 10px;
    }

}

.error404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 80%;

    p {
        font-size: 2rem;
        text-shadow: -9px 4px 10px rgba(0, 0, 0, 0.83);
    }

    img {
        width: 100%;
    }
}

/*Termina index*/

/* Breakpoint */

@include medias (768px) {

    .aside__style {
        width: 80%;
        height: 60vh;

        p {
            font-size: 2rem;
            margin-top: 30px;
        }
    }

    h2,
    h3 {
        font-size: 2.3rem;
        padding-bottom: 10px;
    }

    .ofertas__card--size {
        width: 30%;
    }

    .text__bold {
        font-size: 1.4rem;
    }

    .text__secondary {
        font-size: 1.2rem;
    }

    .reco__contenedor {
        width: 60%;
    }

    .error404 {
        img {
            width: 90%;
        }
    }
}

@include medias (992px) {

    .ofertas__card--size {
        width: 30%;
    }

    .aside__style {
        height: 40vh;

        p {
            font-size: 2.3rem;
            margin-top: 30px;
        }
    }

    .error404 {
        width: 65%;

        p {
            font-size: 2.3rem;
        }
    }
}

@include medias (1100px) {
    .section__ofertas--img {
        width: 15%;
        height: 20%;
    }

    .aside__style {
        height: 50vh;
    }

    .reco__contenedor {
        width: 40%;
    }

    .ofertas__card--size {
        width: 20%;
    }

    .error404 {
        width: 55%;
    }
}

@include medias (1300px) {

    .aside__style {
        height: 55vh;
    }

    .section__ofertas--img {
        margin: 10px;
        width: 13%;
        height: 15%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .error404 {
        background-image: url(../imagenes/error404.jpg);
        height: 80vh;
        background-position: center;
        background-size: cover;
        justify-content: flex-start;
        width: 65%;

        img {
            display: none;
        }

        p {
            padding: 10px;
            text-shadow: -3px 2px 1px rgb(0 0 0 / 46%);
        }
    }
}

@include medias (1400px) {
    .ofertas__card--size {
        width: 18%;
    }

    .error404 {
        width: 70%;
        height: 78vh;
    }

    .aside__style {
        width: 75%;
        height: 60vh;
    }
}